<a href="https://colab.research.google.com/github/Otobi1/Back-to-Basics-A-Refresher-/blob/master/Back_to_Basics_A_Refresher_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Variables 
# Integer Variable 

x = 5
print(x)
print (type(x))

5
<class 'int'>

In [2]:
# String Variable 

x = "hello"
print(x)
print (type(x))

hello
<class 'str'>

In [3]:
# Integer Variable 

x = 5
print (x, type(x))

5 <class 'int'>

In [4]:
# Float Variable 

x = 5.0
print (x, type(x))

5.0 <class 'float'>

In [5]:
# Text Variable 

x = "5"
print (x, type(x))

5 <class 'str'>

In [6]:
# Boolean Variable 

x = True
print (x, type(x))

True <class 'bool'>

In [7]:
# Operations with variables 

a = 1
b = 2
c = a + b
print (c)

3

In [9]:
# It is important to know the variable types we are working with 
# see a common type of mistake below 

# these are integer variables 
a = 5
b = 3
print (a + b)

# these are string variables 
a = "5"
b = "3"
print (a + b)

8
53

In [10]:
## Lists 
# Lists are ordered, mutable (changeable) collection of values that are comma separated 
# and enclosed with square brackets. A list can have different types of variables 

# Creating a list

x = [3, "hello", 1.2]
print (x)

[3, 'hello', 1.2]

In [11]:
# Getting the length of a list 

len (x)

3

In [12]:
# We can add to a list using the append function 

x.append(7)
print (x)
print (len(x))

[3, 'hello', 1.2, 7]
4

In [13]:
# We can replace existing items on a list 

x[1] = "bye"
print (x)

[3, 'bye', 1.2, 7]

In [14]:
# We can perform operations with lists 

y = [2.4, "world"]
z = x + y
print (z)

[3, 'bye', 1.2, 7, 2.4, 'world']

In [15]:
## Indexing 
# Indexing and slicing from lists allows the retrieval of specific values from the list.
# Indices can be positive (starting from 0) or negative (-1 and lower, where -1 is the last item in the list)

# Example x = [3, "hello", 1.2]
# -ive indices: -3 = 3, -2 = "hello", -1 = 1.2 
# +ive indices: 0 = 3, 1 = "hello", 2 = 1.2

In [16]:
# Indexing 
x = [3, "hello", 1.2]

print ("x[0]:", x[0])
print ("x[1]:", x[1])
print ("x[-1]:", x[-1]) # last item on the list 
print ("x[-2]:", x[-2]) # second to the last item on the list

x[0]: 3
x[1]: hello
x[-1]: 1.2
x[-2]: hello

In [17]:
# Slicing 
print ("x[:]:", x[:]) # all indices
print ("x[1:]:", x[1:]) # index 1 to the end of the list
print ("x[1:2]:", x[1:2]) # index 1 to index 2 (not including the content of index 2)
print ("x[:-1]:", x[:-1]) # index 0 to the last index (not incl., contents of the last index)

x[:]: [3, 'hello', 1.2]
x[1:]: ['hello', 1.2]
x[1:2]: ['hello']
x[:-1]: [3, 'hello']

In [18]:
## Tuples 
# these are collections that are ordered and immutable (unchangeable). 
# You can use these to store values that will never be changed. 

# Creating a tuple 
x = (3.0, "hello") # tuples start and ends with ()
print (x)

(3.0, 'hello')

In [19]:
# Adding values to a tuple 
x = x + (5.6, 4)
print (x)

(3.0, 'hello', 5.6, 4)

In [21]:
# Try to change the contents of a tuple, you'll get an error

print (x[0]) # position zero is originally 3.0

# attempting to  change the contents in this position 

x[0] = 1.2

3.0

TypeError: ignored

In [22]:
## Dictionaries 
# These are unordered, mutable and indexed collection of key-value pairs 
# You can retrieve values based on the key. 
# A dictionary cannot have two same keys. 

# Example 
# person = {"name": "'tobi", 
#            "eye_colour": "brown"}

In [23]:
# Creating a dictionary
person = {"name": "'tobi", 
          "eye_colour": "brown"}
print (person)
print (person["name"])
print (person["eye_colour"])

{'name': "'tobi", 'eye_colour': 'brown'}
'tobi
brown

In [24]:
# Changing the value for a key 

person["eye_colour"] = "dark brown"

print (person)

{'name': "'tobi", 'eye_colour': 'dark brown'}

In [25]:
# Adding a new key-value pair
person["age"] = 30

print (person)

{'name': "'tobi", 'eye_colour': 'dark brown', 'age': 30}

In [26]:
# Length of a dictionary

print (len(person))

3

In [27]:
# If statements 
# if statements in programming as in english is used to imply conditionality. 
# the conditions are defined by words "if", "elif" (which means else if) and "else". 
# there can be as many elif statements as we want. 

"""
Example 

x = 4
if x < 1:
  score = "low"
elif x <= 4: 
  score = "medium"
else:
  score = "high"
print (score)
"""

'\nExample \n\nx = 4\nif x < 1:\n  score = "low"\nelif x <= 4: \n  score = "medium"\nelse:\n  score = "high"\nprint (score)\n'

In [28]:
# if statement 
x = 4 
if x < 1:
  score = "low"
elif x <= 4:
  score = "medium"
else:
  score = "high"

print (score)

medium

In [29]:
# If statement with a boolean

x = True 
if x: 
  print ("it worked almost like magic")

it worked almost like magic

In [30]:
## Loops (for loops and while loops)
# First, "for loops"
# A "for loop" can iterate over a collection of values (lists, tuples, dictionaries, etc)
# The indented code is executed for each item in the collection of values

In [31]:
# For loop

veggies = ["carrots", "broccoli", "beans", "efo tete"]
for veggie in veggies:
  print(veggie)

carrots
broccoli
beans
efo tete

In [32]:
# When the loop encounters a break commmand, the loop will terminate immediately.
# If there were more items in the list, they will not be processed.

In [33]:
# break from a for loop 

veggies = ["carrots", "broccoli", "beans", "efo tete"]
for veggie in veggies:
  if veggie == "broccoli":
    break
  print (veggie)

carrots

In [34]:
# When the loop encounters the continue command, the loop will skip all other operations for that item only in the list. 
# If there were more items in the list, the loop will continue normally.

In [35]:
# continue to the next iteration 

veggies = ["carrots", "broccoli", "beans", "efo tete"]
for veggie in veggies:
  if veggie == "broccoli":
    continue
  print (veggie)

carrots
beans
efo tete

In [36]:
# Now, "while loops"
# A while loop can perform repeated as long as the condition is true. 
# We can use "continue" and "break" commands in while loops as well.

In [37]:
# While loop
x = 3
while x > 0:
  x -= 1 # same as x = x -1
  print (x)

2
1
0

In [40]:
## Functions 
# Functions provides a way to modularise reusable pieces of code
# They are defined by the keyword "def" which stands for definition. 
# They can have the following components 

"""
def add_two(x): # where "add_two" is the function name and "x" is the input parameter
  Increase score by 2. # You can have doc strings within functions for description typically enclosed in the three quotation marks starting and ending the docstring
  x += 2 # operation
  return x # output
"""

'\ndef add_two(x): # where "add_two" is the function name and "x" is the input parameter\n  Increase score by 2. # You can have doc strings within functions for description typically enclosed in the three quotation marks starting and ending the docstring\n  x += 2 # operation\n  return x # output\n'

In [41]:
# Define a function
def add_two(x):
  """Increase x by 2.""" # Explains what this function will do
  x += 2
  return x

In [43]:
# Here are the components that may be required when we want to use the function 
# We need to ensure that the function name and input parameters match how we defined the fucntion above 

score = 0
new_score = add_two(x = score)
print (new_score)

2

In [44]:
# A function can also have many input parameters and outputs as we want

# A function with multiple inputs 

def join_name(first_name, last_name):
  """Combine first name and last name."""
  joined_name = first_name + " " + last_name
  return joined_name

In [45]:
# Using the function 
fn = "'tobi"
ln = "OLUTUNMBI"
joined_name = join_name(
    first_name = fn, last_name = ln)
print (joined_name)

'tobi OLUTUNMBI